.kt-header .kt-header__top {
	height: 70px;
}
.kt-header {
	background: #eb2629;
}
.kt-header-mobile {
	background: #eb2629;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link {
	background-color: #0e3e871f;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
	color: white;
	font-size: 1.3rem;
}
.kt-footer .kt-footer__bottom {
	background-color: #0e3e87;
}
.kt-footer .kt-footer__bottom .kt-footer__logo .kt-footer__copyright {
	color: white;
}
.login-mobile {
	font-size: 1.2rem;
	color: white;
	font-weight: 500;
}
.flaticon2-user,.registration {
	color: white;
	font-size: 1rem;
	font-weight: 600;

}
.kt-header .kt-header__bottom {
	background-color: #c52426;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link {
	background-color:#a22324 !important;
}
.dropdown-inline:hover {
	background-color: #c82426;
}
.kt-header-menu-mobile .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-text {
	color: #ffffff;
}
i .kt-menu__link-bullet .kt-menu__link-bullet--dot {
	color: white;
}
.kt-header-menu-mobile .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-text {
	color: white;
}
.badge {
	position: absolute;
	top: 0px;
	right: -5px;
	padding: 5px 7px;
	border-radius: 50%;
	background: white;
	color: #212121;
	z-index: 999;
}
.dropdown-inline {
	padding: 10px;
	border-radius: 5px;
}

.dropdown-menu {
	padding: 5px !important;
}
.kt-portlet--sticky .kt-portlet__head {
	width: 100vw;
	z-index: 90;
	top: 0px !important;
	right: 0px;
}
.nav-item  a {
	font-size: 1.2rem !important;
	color: #1f1e2e !important;
}
.nav-tabs .nav-item .nav-link.active {
	font-weight: 500 !important;
	font-size: 1.3rem !important;
}
.alamat_sipil p{
	margin-bottom: 0.4rem !important;
	font-size: 14px;
}
.deskripsi p{
	font-size: 14px;
}
#col-alamat {
	margin-top: -13px;
}
.kt-datatable > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell > span {
	color: #212121;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell > span {
    color: #212121;
}
.kt-portlet-utama {
	margin-top: 25px
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
	font-size: 1.6rem;
}
.kt-portlet.kt-portlet--sticky .kt-portlet__head {
    height: 66px;
    min-height: 66px;
}
.kt-widget4 .kt-widget4__item .kt-widget4__info .kt-widget4__username {
	color: #212121;
	font-size: 1.2rem;
}
.kt-widget4 .kt-widget4__item .kt-widget4__info .kt-widget4__text {
	font-size: 0.8rem;
}
@media (max-width: 1024px) {
	.badge{
		top: 0px;
		right: 10px;
	}
	.kt-header .kt-header__top {
		height: 0px;
	}
	.kt-header-menu-mobile {
		background-color: #eb2629;
	}
	.kt-header-menu-wrapper {
		background: #eb2629;
	}
	.kt-header-menu-mobile .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
		background-color: #0d3879;
	}
	.kt-header-menu-mobile .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text, .kt-header-menu-mobile .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
		color: #ffffff;
	}
	.kt-header-menu-mobile .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-text {
		color: #ffffff;
	}
	.kt-header-menu-mobile .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-text {
		color: white;
	}
	.kt-portlet--sticky .kt-portlet__head {
		width: 100vw;
		z-index: 90;
		top: 55px !important;
	}
	#col-alamat {
		margin-top: 15px;
	}
	.kt-portlet-utama {
		margin-top: 13px
	}
	.vl {
		border-left: 0px !important;
	}
	.kt-portlet.kt-portlet--sticky .kt-portlet__head {
		height: 95px;
		left: 0px !important;
	}
	.kolom-menu-2 {
		margin-top: 15px
	}
	.btn_rincian {
		margin-left: -13px;
	}
}