.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
	font-size: 1.3rem;
}
#chartdiv {
	width: 100%;
	height: 500px;
}
.card-info {
	color: white !important;
}
.enabled,
.disabled {
	margin: 0px 3px;
}
.disabled {
	color: #E0E0E0;
}
.enabled {
	color: #7CB342;
}
.fa {
	font-size: 1.8rem;
}